#Main{
  opacity: 0.85;
  border-radius: 100px;
  background: linear-gradient(90deg, #074d08  10%, #eef545 90%);
  position:  absolute;
  margin-left: 7.5%;
  width: 85%;
  position:fixed;
}
body{
      background-repeat: no-repeat;
      background-color: #037515;
      background-position: center;
      background-attachment: fixed;
      background-clip: border-box;
      width: 50%;;
      font-family: Times;
}
{
 text-align: center;
}
img{
width:5%;
}
.free{

}
.gr{
  font-style:italic;
  text-align: center;
 }
 @keyframes fadeIm-1
{
    from    { opacity: 1; }
    16%     { opacity: 1; }
    33%     { opacity: 0; }
    91%     { opacity: 0; }
    to      { opacity: 1; }
}

@keyframes fadeIm-2
{
    from    { opacity: 0; }
    16%     { opacity: 0; }
    33%     { opacity: 1; }
    48%     { opacity: 1; }
    66%     { opacity: 0; }
    to      { opacity: 0; }
}

@keyframes fadeIm-3
{
    from    { opacity: 0; }
    48%     { opacity: 0; }
    66%     { opacity: 1; }
    82%     { opacity: 1; }
    91%     { opacity: 0; }
    to      { opacity: 0; }
}
.div-style
{
    position: relative;
    text-align: center;
    width: 100%;
}

.img-style
{
    width: 10%;
    margin-top: 8px;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.img-style.next
{
    position:absolute;
    left: 45%;
    opacity: 0;
}

.img-style.im-1
{
    animation-name: fadeIm-1;
}

.img-style.next.im-2
{
    animation-name: fadeIm-2;
}

.img-style.next.im-3
{
    animation-name: fadeIm-3;
}
